body {
  margin: 0;
  padding: 0;
  background-color: rgb(46, 44, 44);
  color: rgb(231, 230, 230);
}

a {
  color: rgb(188, 188, 245);
}

a.active {
  color: red;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin-right: auto;
  margin-left: 40px;
}

header nav {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: large;
}

.home-component {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: large;
}

.home-component button {
  padding: 10px 20px;
}
